html {
  /* rem 是相对于跟元素html的font-size */
  /* em 是相对于父元素的font-size */
  /* 默认16px 16px * 62.5% = 10px => 1rem = 10px */
  font-size: 62.5%;
}

html body #root .App {
  min-height: 100vh;
  background: #f7f7f7 !important;
}
